body {
    margin: 0; 
    font-size: 13px;
}
.header-navbar.navbar-static-top {
    padding: 0px!important;
}
.horizontal-menu .navbar-horizontal ul#main-menu-navigation>li>a {
    padding: 0.5rem!important;/*1.5rem 1rem*/
}
.header-navbar .navbar-container ul.nav li>a.nav-link {
    font-size: 1rem!important;/*1.15rem;*/
}
/*//////////////////////////////////////////*/
.btn-secondary {
        background-color: #F97749;
    border-color: #b75d3b!important; color: #FFF;
}
.btn-primary {
    border-color: #3A44E1!important;
    color: #FFF;
}
.btn-success {
    border-color: #20A576!important;
    color: #FFF;
}
.btn-info {
    border-color: #0C84D1!important;
    color: #FFF;
}
.btn-warning {
    border-color: #FF7216!important;
    color: #FFF;
}
.btn-danger {
    border-color: #FF1635!important;
    color: #FFF;
}
.btn-light {
    color: #FFF;
}
.btn-dark {
    color: #FFF;
}
/* /////////////////////// */
.card-header {
    padding:0.7rem 1.5rem !important;
}
.card-body {  
    padding:0.3rem 1.5rem !important;
}
/*//////////////////////////////////////////*/
li.select2-results__option {
    font-size: 12px;
}
	.app-content .wizard>.steps {
    position: relative;
    display: block;
    width: 100%;
	border-radios:1px;
    box-shadow: inset 0px 0px 20px 0px rgb(244, 245, 250);
    margin-bottom: 11px;
}

/*//////////////////////////////////////////*/
fieldset .inline {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    float: left;
}
form label {
    font-size: 13px !important;
	color:#777;
    font-weight: 900;
}
form label .required{color: red;}
form .form-group {
    margin-bottom: 0.2rem !important;
	  padding: 6px 0!important;
}

.card-body {
    padding-top: 0.75rem!important;
}
select#setSource {
    height: 32px;
    font-size: 12px;
}
select.form-control.select2 {
    height: 32px!important;
    font-size: 12px;
}
label {
    display: inline-block;
    margin-bottom: .2rem;
}
input.form-control {
    height: 32px;
    font-size: 12px;
}
span.select2-selection__arrow {
    padding-top: 0;
    margin-top: -4px;
}

span.select2-selection.select2-selection--single {
    height: 32px!important;
    font-size: 12px;
    padding-top: 2px;
}
.p-0{padding:0!important;padding-right: 3px!important;}
/* /////////////////// */
.picker {
    width: 480px!important;
   }
 /*//////////////////////////////////////////*/  
   .select2-container--classic .select2-selection--multiple, .select2-container--default .select2-selection--multiple {
    min-height: 32px !important;
    padding: 2px 8px !important;
    border-color: #D9D9D9 !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {font-size:11px!important;padding: 1px 6px !important;}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
overflow: auto!important;}
.select2-container .select2-search--inline .select2-search__field {
margin-top: 0px;}
select.form-control {
    height: 32px!important;
    font-size: 12px;
}
/*//////////////////////////////////////////*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*//////////////////////////////////////////*/
.table th, .table td {
    padding: .5rem 2rem;
}
.font13{font-size:13px!important}
table.dataTable {
    width: 100%!important;
}
button.ColVis_Button {
    height: 35px!important;
    border-radius: 0.25rem!important;
}
.form-control.error{
    border-color: crimson;
}
.error{
    color: crimson;
    font-weight: 600;
}
